.cast-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px #bfbfbf;
  width: 280px;
  height: 80px;
}

.actor-img {
  min-width: 70px;
  min-height: 80px;
  max-width: 70px;
  max-height: 80px;
  border-radius: 8px;
}

.actor-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 4px;
}

.actor-details {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.char-name {
  color: #000000;
  font-size: 14px;
  margin: 0px;
}
